html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: #363640;
}

.score-card-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed ;
}

.score-card-table tr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.score-card-table tr:last-child {
  border: none;
  border-bottom: none;
}

.score-card-table td, .score-card-table th {
  border: none;
  padding: 0;
  margin: 0;
  color: #ffffff;
  text-align: left;
  font-size: 14px;
  height: 48px;
  padding-left: 16px;
}

.score-card-table-stats-start {
  border-left: 1px solid rgba(255, 255, 255, 0.12) !important;
}

.score-card-table th {
  color: rgba(255, 255, 255, 0.6);
  font-weight: lighter;
}

.score-card-table-input {
  padding: 0 !important;
}

.score-card-table-add input {
  width: calc(100% - 32px);
  height: 100%;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
  border: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  outline: 0;
  background: rgba(255, 255, 255, 0.12);
  color: #ffffff;
}

.score-card-table-add input:focus {
  background: rgba(255, 255, 255, 0.24);
}

.score-card-table-add button {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  margin: 0;
  border: 0;
  outline: 0;
  background: #1eb980;
  color: #ffffff;
  cursor: pointer;
}

.score-card-table-add button:hover, .score-card-table-add button:focus {
  filter: brightness(110%);
}

